/*Подключение иконочного шрифта*/
@font-face {
  font-weight: normal;
  font-family: "symbols-nerds";
  font-style: normal;

  src: url("../fonts/symbols-nerds.woff") format("woff"),
  url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before {
  content: "\62";
} /* "b" */
.icon-facebook::before {
  content: "\66";
} /* "f" */
.icon-twitter::before {
  content: "\74";
} /* "t" */
.icon-vk::before {
  content: "\76";
} /* "v" */
.icon-up-dir::before {
  content: "\25b2";
} /* "▲" */
.icon-down-dir::before {
  content: "\25bc";
} /* "▼" */
.icon-circle::before {
  content: "\25cb";
} /* "○" */
.icon-circle-dot::before {
  content: "\25cf";
} /* "●" */
.icon-check-off::before {
  content: "\2610";
} /* "☐" */
.icon-check-on::before {
  content: "\2611";
} /* "☑" */
.icon-instagramm::before {
  content: "📷";
} /* "\1f4f7" */

body {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Helvetica", "Tahoma", sans-serif;
  color: #283136;

  background-color: #ffffff;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 36px;
  color: #000000;
}
h1 {
  font-size: 36px;
}
a {
  color: #000000;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
.index-logo,
.main-navigation,
.cart-block,
.main-navigation li,
.cart-block li,
.mini-catalog-item,
.about-studio-info,
.about-studio-work,
.slider-controls label,
.clients img,
.footer-social,
.call-friendship,
.filtres,
.shop-mockups,
.shop-sort-type,
.shop-sort-title,
.shop-sort-type ul,
.shop-sort-type li,
.shop-sort-rating,
.features-item {
  display: inline-block;
}
.container {
  position: relative;

  width: 880px;
  margin: 0 auto;

  background-color: #ffffff;
}
.container-shop {
  padding-top: 70px;
}
.wrapper-header-slider {
  position: relative;

  background-color: #eeeeee;
}
.main-header,
.slider-block,
.welcome-shop {
  width: 880px;
  margin: 0 auto;
}
.main-header {
  padding-top: 28px;
  padding-bottom: 46px;
}
.index-logo {
  width: 139px;
  height: 56px;
}
.main-navigation {
  margin-left: 180px;
}
.main-navigation a {
  margin-right: 41px;
}
.main-navigation a,
.cart-block a {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.cart-block {
  margin-left: 22px;
}
.icon-basket {
  padding-right: 4px;

  font-size: 16px;
  color: #a6a6a6;
}
.learn-more-action,
.learn-more-image {
  float: left;
}
.learn-more-action {
  width: 540px;
}
.learn-more-action h1 {
  margin-top: 21px;
  margin-bottom: 18px;

  font-weight: 500;
}
.learn-more-action p {
  margin-bottom: 34px;
}
.btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.btn-learn-more {
  padding: 12px 71px;

  background-color: #fb565a;
}
.btn-order-website,
.btn-order-application,
.btn-order-presentation {
  padding: 12px 40px;
}
.btn-order-website {
  background-color: #fb565a;
}
.btn-order-application {
  background-color: #00ca74;
}
.btn-order-presentation {
  background-color: #efc84a;
}
.btn-contact-us {
  padding: 12px 54px;

  background-color: #fb565a;
}
.btn-show {
  margin-top: 40px;
  padding: 10px 47px;

  color: #000000;

  background-color: #f1f1f1;
}
.learn-more-image {
  width: 350px;
}
.slider-block {
  height: 300px;
}
.slider {
  position: relative;
}
.slider input[type=radio] {
  display: none;
}
.slider-inner {
  overflow: hidden;
}
.slider-slides {
  width: 600%;

  transition: -webkit-transform 0.3s ease;
  transition:         transform 0.3s ease;
}
.slider-slides .slide {
  float: left;
  width: 895px;
}
.slider-controls {
  position: absolute;
  bottom: 113px;
  left: 49%;
  z-index: 100;

  text-align: center;

  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
}
.slider-controls label {
  width: 10px;
  height: 10px;
  margin: 0 3px;

  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 0.15s;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #c1c1c1;
}
#btn-1:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(0);
          transform: translate(0);
}
#btn-2:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(-895px);
          transform: translate(-895px);
}
#btn-3:checked ~ .slider-inner .slider-slides {
  -webkit-transform: translate(-1790px);
          transform: translate(-1790px);
}
.mini-catalog {
  min-height: 425px;
  padding-top: 80px;
  padding-bottom: 88px;

  border-bottom: 2px solid #eeeeee;
}
.mini-catalog-item {
  width: 290px;
  margin: 0;
  padding: 0;
}
.mini-catalog-item:nth-child(2) {
  padding-left: 26px;
}
.mini-catalog-item:nth-child(3) {
  padding-left: 51px;
}
.mini-catalog-title h3 {
  margin-top: 17px;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.mini-catalog-title p {
  margin-bottom: 32px;

  font-size: 15px;
  line-height: 22px;
}
.about-studio {
  padding-bottom: 47px;

  border-bottom: 2px solid #eeeeee;
}
.about-studio-info {
  min-width: 570px;
}
.about-studio-info li,
.about-studio-work li {
  margin-bottom: 22px;
}
.about-studio-info li:before,
.about-studio-work li:before {
  content: url("../img/dash.png");

  margin-right: 10px;

  color: red;
}
.about-studio-info h1 {
  margin-top: 70px;
  margin-bottom: 19px;
}
.about-studio-info p {
  margin-bottom: 44px;
}
.about-studio-info h3 {
  margin-bottom: 22px;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.about-studio-work {
  min-width: 300px;
}
.about-studio-logo {
  margin-bottom: 21px;
  margin-left: 99px;
}
.since-year {
  margin-bottom: 55px;
  margin-left: 10px;
}
.since-year span {
  margin-left: 57px;

  text-transform: uppercase;
}
.since-year span:before {
  content: url("../img/divide.png");

  margin-right: 11px;
}
.since-year span:after {
  content: url("../img/divide.png");

  margin-left: 11px;
}
.about-studio-work h3 {
  margin-left: 65px;
}
.about-studio-work ul {
  margin-left: 67px;
}
.clients {
  margin-top: 48px;
  margin-bottom: 85px;
  padding-bottom: 32px;

  border-bottom: 2px solid #eeeeee;
}
.clients img {
  vertical-align: middle;
}
.glukhanko-img {
  margin-bottom: 9px;
  margin-left: 12px;
}
.htmlacademy-img {
  margin-bottom: 4px;
  margin-left: 117px;
}
.borodinski-img {
  margin-left: 119px;
}
.contacts-map {
  position: relative;
  z-index: 1;

  height: 415px;
  margin: 0;

  background-color: #e9e5dc;
  background-image: url("../img/bg-map.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.contact-us {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 137px;

  box-sizing: border-box;
  width: 250px;
  height: 250px;
  padding: 30px 0 0 20px;

  background: #ffffff;
}
.contact-us h3 {
  margin: 0;

  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.contact-us p {
  margin-bottom: 33px;

  font-size: 16px;
  line-height: 20px;
}
.iframe-map {
  width: 100%;
  height: 415px;

  border: 0;
}
.main-footer {
  padding-top: 50px;
  padding-bottom: 56px;
}
.footer-social {
  min-width: 250px;
  padding-top: 16px;

  font-size: 0;
  vertical-align: middle;
}
.call-friendship {
  min-width: 550px;
  padding-left: 45px;

  vertical-align: middle;
}
.call-friendship h1 {
  margin-bottom: -5px;
}
.social {
  margin-right: 28px;
  padding: 16px 15px;

  font-size: 23px;
  line-height: 16px;
  color: #ffffff;

  background: #e1e1e1;
  border-radius: 30px;
}
.welcome-shop h1 {
  margin: 0;
  margin-top: 11px;
  margin-left: -6px;
  padding-bottom: 84px;

  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
.filtres {
  width: 280px;

  vertical-align: top;
}
.cost h2 {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.range-count {
  width: 240px;
  margin-bottom: 20px;
}
.range-count input[type="text"] {
  display: inline-block;
  width: 80px;
  padding: 9px 0;

  text-align: left;
  text-align: center;
  color: #283136;

  background: rgba(255, 255, 255, 0);
  background-color: #f1f1f1;
  border: none;
  border-radius: 3px;
  outline: none;
}
.range-min,
.range-max {
  display: inline-block;

  line-height: 21px;
  vertical-align: middle;
}
.range-min {
  box-sizing: border-box;
}
.range-min label,
.range-max label {
  display: inline-block;

  text-align: right;
}
.range-max label {
  margin-left: 25px;
}
.range-block-wrapper {
  width: 240px;
  min-height: 80px;
  padding-top: 40px;
  padding-left: 20px;

  text-align: center;

  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-block {
  position: relative;

  width: 195px;
  margin-bottom: 20px;

  background-color: #f1f1f1;
}
.range-block .scale {
  height: 2px;

  background: #d7dcde;
}
.range-block .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.range-count {
  position: relative;
}
input[type="range"] {
  width: 320px;
}
input[type="range"]:hover {
  cursor: pointer;
}
.radio,
.checkbox {
  margin-bottom: 10px;
}
.features label {
  display: inline-block;
  margin-right: 15px;

  vertical-align: middle;

  cursor: pointer;
}
.choose-grid label:before,
.features label:before {
  margin-right: 10px;
  margin-left: 0;

  font-size: 26px;
  vertical-align: middle;
  text-align: left;
  color: #d7dcde;
}
.choose-grid label:before {
  content: "\25cb";
}
.features label:before {
  content: "\2610";
}
input[type=radio],
input[type=checkbox] {
  display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  line-height: 20px;
}
.filtres-form input[type=radio]:checked + label:before {
  content: "\25cf";
}
.filtres-form input[type=checkbox]:checked + label:before {
  content: "\2611";
}
.filtres-form input[type=radio]:disabled + label:before,
.filtres-form input[type=checkbox]:disabled + label:before {
  color: #6a6a6a;
}

.shop-mockups {
  display: inline-block;
  width: 550px;

  vertical-align: top;
}
.image-mockup {
  position: relative;

  width: 240px;
  height: 240px;

  background-repeat: no-repeat;
  background-size: 100%;
  border-top: 30px solid #f1f1f1;
  border-image: url("../img/catalog-image-border.png") 30 0 0 0;
}
.image-mockup-aviator {
  background-image: url("../img/aviator.jpg");
}
.image-mockup-sunset {
  background-image: url("../img/sunset.jpg");
}
.image-mockup-forte {
  background-image: url("../img/forte.jpg");
}
.image-mockup-modern {
  background-image: url("../img/modern-organic-thai.jpg");
}
.image-mockup-avenue {
  background-image: url("../img/avenue.jpg");
}
.image-mockup-dovetail {
  background-image: url("../img/dovetail.jpg");
}
.features-item {
  width: 240px;
}
.features-item-hover {
  position: absolute;
  top: 8%;
  left: 8%;

  display: none;
  width: 200px;
  height: 200px;

  background-color: #ffffff;
}
.features-item:hover .features-item-hover {
  display: block;
}
